/* Add your all css here  */
@tailwind components;

@layer components{
  * {
    font-family: 'Barlow', sans-serif;
    /* user-select: none; */
}

#__next {
    overflow-x: hidden;
    max-width: 1900px;
    margin: auto;
}
.carousel__scroll::-webkit-scrollbar{
    display: none
}
body::-webkit-scrollbar{
    display: none
}

/* just for custom scrollbar*/
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #2d3748;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #333;
  }
  ::-webkit-scrollbar-track {
    background: rgba(143, 143, 143, 0.3);
    border: 0px none #333;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: rgba(143, 143, 143, 0.3);
  }
  ::-webkit-scrollbar-track:active {
    background: rgba(143, 143, 143, 0.3);
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

/* @media(prefers-color-scheme: light){ */

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.balance__border {
    border-color: #00bfff;
}

.invest__border {
    border-color: #eee;
}

.win__border {
    border-color: #00ff00;
}

.lose__border {
    border-color: #ff4500;
}

.info__border {
    border-color: #fff;
}
.border-sm{
    border: 1px solid
}
.text-blue-400 {
    color: #1EA5FC;
}

.bg-blue-400 {
    background: #1EA5FC;
}

.text-blue-500 {
    color: #1380F9;
}

.bg-blue-500 {
    background: #1380F9;
}

.btn-bg {
    background: linear-gradient(45deg ,#5b9dff 0% , #1380F9 40%, #1EA5FC 100%);
}

.blur-white{
    background: rgba( 255, 255, 255, 0.3 );
box-shadow: 5px 5px 32px 0 rgba( 31, 38, 135, 0.2 );
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border: 1px solid rgba( 255, 255, 255, 0.2 );
}

.blur-black{
    background: rgba( 0, 0, 0, 0.3 );
box-shadow: 5px 5px 32px 0 rgba( 31, 38, 135, 0.2 );
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border: 1px solid rgba( 255, 255, 255, 0.2 );
}
.blur-yellow{
    background: rgba( 250, 255, 0, 0.3 );
box-shadow: 5px 5px 32px 0 rgba( 31, 38, 135, 0.2 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.blur-orange{
    background: rgba( 245, 166, 35, 0.3 );
box-shadow: 5px 5px 32px 0 rgba( 31, 38, 135, 0.2 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.blur-blue{
    background: rgba( 139, 193, 255, 0.3 );
    box-shadow: 5px 5px 32px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.blur-gray{
    background: rgba( 155, 155, 155, 0.3 );
box-shadow: 5px 5px 32px 0 rgba( 31, 38, 135, 0.2 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gradient-dark{
    background-image: radial-gradient(circle, #0c6764, #005e66, #005466, #004a63, #003f5e, #003e5c, #003c5b, #003b59, #00425b, #00495a, #004f57, #005553);
    background-size: 150% 150%;
    animation: movingGradient 10s linear infinite alternate;
}

@keyframes movingGradient{
    from { background-position: 0 0; }
    to { background-position: 100% 100%; }
}

.btn-header{
    @apply px-5 py-2 bg-white text-xl text-gray-800 rounded-2xl font-semibold active:scale-95 transition-sm duration-150 ease-out ;
}

.btn-white{
    background: #fff;
    color: #222;
    box-shadow: 0 0 20px #ffffff96;
}
.btn-black{
    background: #222;
    color: #fff;
    box-shadow: 0 0 20px #22222296;
}
.btn-blue{
    background: #1EA5FC;
    color: #fff;
    box-shadow: 0 0 20px #1ea3fc96;
}
.btn-blue:hover{
   filter: saturate(2);
   transition: all 0.3s ;
}
.btn-yellow{
    background: rgb(255, 255, 0);
    color: #333;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
}
.btn-orange{
    background: rgb(255, 166, 0);
    color: #fff;
    box-shadow: 0 0 20px rgba(255, 166, 0, 0.5);
}
.btn-orange:hover{
    filter: saturate(2);
}
.btn-red{
    background: rgba(240,30,92,1);
    color: #fff;
    box-shadow: 0 0 20px rgba(240,30,92,0.5)
}

.text-white{
    text-shadow: 1px 1px 10px rgba( 255, 255, 255, 0.2 );
}

.gradient-shadow {
    box-shadow: 0px 0px 20px rgba(30, 165, 255, 0.15);
}

.gradient-shadow-md {
    box-shadow: 0px 0px 40px rgba(30, 165, 255, 0.15);
}

.gradient-shadow-lg {
    box-shadow: 0px 0px 40px rgba(30, 165, 255, 0.3);
}

.info__circle{
    min-width: 15px;
    min-height: 15px;
}
.info__inner{
    display: none;
    opacity: 0;
}
.info__inner::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 8px;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}
.info__circle:hover ~ .info__inner{
    display: inline-block;
    opacity: 1;
}

.bet .bet__container {
    @apply p-5 py-10 md:py-5 mb-5 text-center min-w-[350px] grid place-items-center rounded-xl shadow-md relative
}

.bet table {
    text-align: left;
    width: 100%;
}

.bet table tr td:nth-child(1) {
    @apply font-medium
}

.bet table tr td:nth-child(2) {
    font-size: 16px;
}

.bet table td {
    @apply px-4 text-left align-middle
}

.policy h1 {
    @apply text-2xl mt-10 font-semibold text-white my-2 2xl:text-3xl
}

.policy h2 {
    @apply text-lg font-semibold text-gray-100 my-2 2xl:text-xl
}

.policy p {
    @apply text-base text-gray-200 my-2 2xl:text-lg
}

.policy ul li {
    list-style: disc;
    margin-left: 2rem;
    @apply text-gray-200;
}

.policy ul ul li{
    list-style: circle;
    margin-left: 4rem;
    @apply text-gray-200;
}

.filter {
    @apply py-4 my-4 md:flex items-center
}

.filter__item {
    @apply relative mr-5 h-12 my-2 min-w-max inline-flex items-center justify-center transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:outline-none
}

.filter__item select {
    @apply h-10 z-20 bg-transparent cursor-pointer w-full px-4 pr-8 appearance-none focus:outline-none
}

.footer__social {
    @apply relative h-10 w-10 p-1 grid place-items-center bg-white rounded-full hover:scale-105 hover:shadow-lg cursor-pointer active:scale-[0.98] transition duration-150
}

.footer__social svg {
    @apply focus:outline-none focus:border-none
}

.footer__social span {
    position: absolute;
    padding: 2px;
    background: #eee;
    color: #222;
    font-size: 12px;
    text-align: center;
    width: 90px;
    top: -40px;
    border-radius: 10px;
}

.footer__social span::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 8px;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.clip-path-sm {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.share__icons {
    background: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.footer__social span.copy__email {
    opacity: 0;
    transition: all 0.3s ease-in
}

.footer__social:hover span.copy__email {
    opacity: 1;
}

.footer ul a:hover {
    color: #ffcb00
}

.footer .max-w-xs .h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 70%;
    height: 3px;
    border-radius: 10px;
    background: #ffcb00;
}

.max_w_3xl {
    max-width: 1900px;
}

.btn__float {
    border: 2px solid #fff;
    transition: all 0.7s ease-in-out;
    z-index: 300;
    animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-10%);
        animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
    }

}
.Toastify__toast-container.Toastify__toast-container--top-center{
    text-align: center;
    z-index: 49;
}

.que__desc a {
    @apply text-blue-400
}

.que__desc h1 {
    @apply text-xl
}

.que__desc h2 {
    @apply text-xl
}

.signup__btn {
    @apply px-4 py-1 inline-flex items-center space-x-2 rounded-lg border font-medium text-lg text-white shadow-lg active:scale-[0.98] transition duration-100 ease-in-out focus:outline-none focus:border-none;
    min-width: 150px;
    margin: 1rem;
}

.btn {
    @apply bg-white text-blue-600 py-2 px-4 rounded-xl font-semibold active:scale-95 transition duration-100 ease-in-out focus:outline-none focus:border-none
}

.btn-invert {
    @apply px-4 py-2 leading-loose btn-blue min-w-max text-lg rounded font-semibold active:scale-95 transition duration-100 ease-in-out focus:outline-none focus:border-none
}

.btn-primary {
    @apply px-5 py-2 btn-blue text-lg rounded-xl font-semibold active:scale-95 transition-sm
}

.transition-sm {
    @apply transition-all duration-100 ease-in-out
}

.transition-md {
    @apply transition-all duration-150 ease-in-out
}


.comment__box{
    @apply shadow-md max-w-lg blur-gray rounded-xl m-2 relative;
    box-shadow: -10px 0px 20px rgba(0, 184, 255, 0.05),
    5px 0px 15px rgba(0, 137, 255, 0.05);
}

.comment__box::before{
    content: '';
    position: absolute;
    opacity: 0;
    top:50%;
    left: -12px;
    width:16px;
    height: 16px;
    background-color: rgba( 155, 155, 155, 0.4 );
    transform: translateY(-50%);
    clip-path: polygon(77% 0, 100% 50%, 76% 100%, 0% 50%);
}

/* *===== Loader ===== */
#loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14rem;
    width: 14rem;
    margin: -7rem 0 0 -7rem;
    border: 3px solid transparent;
    border-top-color: #008744;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 135, 68, 0.1);
    -webkit-animation: spinLoader 2s linear infinite;
    animation: spinLoader 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 4.5rem;
    right: 4.5rem;
    bottom: 4.5rem;
    left: 4.5rem;
    border: 3px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(214 45 32 / 10%) ;
    border-top-color: #d62d20;
    -webkit-animation: spinLoader 3s linear infinite;
    animation: spinLoader 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    border: 3px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(255 167 0 / 10%);
    border-top-color: #ffa8;
    -webkit-animation: spinLoader 1.5s linear infinite;
    animation: spinLoader 1.5s linear infinite;
}

@-webkit-keyframes spinLoader {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spinLoader {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/** END of Loader*/


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.MuiAvatar-root {
    width: 34px;
    height: 34px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}

.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40rem;
    color: #fff;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators>button {
    margin: 50px;
}

.details__div{
    max-height: 90vh;
    overflow: auto;
    border-radius: 10px
}

@media(max-width: 640px) {
    .custom-shape-divider-bottom-1630315778 svg {
        height: 30px;
    }

    .carousel-item {
        height: 36rem;
    }

}

@media(max-width: 769px) {
    .custom-shape-divider-top-1630316193 svg {
        height: 20px;
    }
}

@media(min-width: 1700px) {
    .question__group {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }

    .nav__bar {
        max-width: 1900px;
        padding: 1rem 5rem !important;
    }

    .carousel-item {
        height: 44rem;
    }
}

}

