/* Add your all css here  */
@tailwind components;

@layer components{
    *{
      font-family: 'Barlow', sans-serif;
      /* user-select: none; */
    }
    #__next{
      overflow-x: hidden;
      max-width: 1900px;
      margin: auto;
    }
    *::-webkit-scrollbar{
        display: none;
        background: #f1faff;
    }
    body{
      /* background: #e7fdfd; */
      /* background: #e6faff; */
      /* background: #f4f9fc; */
      background: #fff
    }
    .line-clamp-1{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .line-clamp-2{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .line-clamp-3{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .line-clamp-4{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .balance__border{
        border-color: #00bfff;
      }
      .invest__border{
        border-color: #333;
      }
      .win__border{
        border-color: #00ff00;
      }
      .lose__border{
        border-color: #ff4500;
      }
      .info__border{
        border-color: #1EA5FC;
      }
      .text-blue-400{
        color: #1EA5FC;
      }
      .bg-blue-400{
        background: #1EA5FC;
      }
      .text-blue-500{
        color: #1380F9;
      }
      .bg-blue-500{
        background: #1380F9;
      }
      .gradient-bg{
        background: linear-gradient(45deg, #1380F9 40%, #1EA5FC);
      }
      .gradient-shadow{
        box-shadow: 0px 0px 20px rgba(30, 165,255,0.15);
      }
      .gradient-shadow-md{
        box-shadow: 0px 0px 40px rgba(30, 165,255,0.15);
      }
      .gradient-shadow-lg{
        box-shadow: 0px 0px 40px rgba(30, 165,255,0.3);
      }
      .question{
        background: radial-gradient(#fff, #e6e6fa);
        box-shadow: 0 0 25px rgb(141 30 255 / 10%);
      }
      .bet .bet__container{
        @apply p-5 py-10 md:py-5 mb-5 text-center min-w-[350px] grid place-items-center rounded-xl shadow-md relative
      }
      .bet table{
        text-align: left;
        width: 100%;
      }
      .bet table tr td:nth-child(1){
        @apply font-medium
      }
      .bet table tr td:nth-child(2){
        font-size: 16px;
      }
      .bet table td{
        @apply px-4 text-left
      }

      .custom-shape-divider-bottom-1630315778 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
      }
  
      .custom-shape-divider-bottom-1630315778 svg {
          position: relative;
          display: block;
          width: calc(100% + 1.3px);
          height: 60px;
      }

    .custom-shape-divider-top-1630316193 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: scale(1.01) rotate(180deg);
    }

    .custom-shape-divider-top-1630316193 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 50px;
    }

    .shape-fill {
        /* fill: #f4f9fc; */
        fill: #fff;
    }
    .policy h1{
      @apply text-2xl mt-10 font-semibold text-gray-700 my-2
    }
    .policy h2{
      @apply text-lg font-semibold text-gray-600 my-2
    }
    .policy p{
      @apply text-base text-gray-500 my-2
    }
    .policy ul li{
      list-style: square;
      margin-left: 2rem;
    }

    .filter{
      @apply  py-4 my-4 md:flex items-center
    }
    .filter__item{
      @apply relative mr-5 h-12 my-2 min-w-max inline-flex items-center justify-center transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:outline-none
    }
    .filter__item.user{
      @apply my-0
    }
    .filter__item select{
      @apply h-10 z-20 bg-transparent cursor-pointer w-full px-4 pr-8 appearance-none focus:outline-none
    }

    .footer__social{
      @apply relative h-10 w-10 p-1 grid place-items-center bg-white rounded-full hover:scale-105 hover:shadow-lg cursor-pointer active:scale-[0.98] transition duration-150
    }
    .footer__social svg{
      @apply focus:outline-none focus:border-none 
    }
    .footer__social span{
      position: absolute;
      padding: 2px;
      background: #333;
      color: #eee;
      font-size: 12px;
      text-align: center;
      width: 90px;
      top: -40px;
      border-radius: 10px;
    }
    .footer__social span::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 8px;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      background:#333;
      clip-path: polygon(100% 0, 0 0, 50% 100%);
    }
    
    .clip-path-sm{
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    .share__icons{
      background: transparent;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50% ,-50%);
    }
    

    .footer__social span.copy__email{
      opacity: 0;
      transition: all 0.3s ease-in
    }
    .footer__social:hover span.copy__email{
      opacity: 1;
    }
    .footer ul a:hover{
      color: #ffcb00
    }
    .footer .max-w-xs .h3::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 70%;
      height: 3px;
      border-radius: 10px;
      background: #ffcb00;
    }
    .max_w_3xl{
      max-width: 1900px;
    }
    .btn__float{
      border: 2px solid #fff;
      transition: all 0.7s ease-in-out;
      z-index: 300;
      animation: bounce 1.5s ease-in-out infinite;
    }
    
    @keyframes bounce {
      0% ,100% {
        transform: translateY(-10%);
        animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
      }
      50% {
        transform: translateY(0);
        animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
      }
     
    }

    .que__desc a{
      @apply text-blue-500
    }
    .que__desc h1{
      @apply text-xl
    }
    .que__desc h2{
      @apply text-xl
    }
    

    .btn{
        @apply bg-white text-blue-600 py-2 px-4 rounded-xl font-semibold active:scale-95 transition duration-100 ease-in-out focus:outline-none focus:border-none
    }
    .btn-invert{
        @apply px-4 py-2 leading-loose gradient-bg min-w-max text-lg text-white rounded font-semibold active:scale-95 transition duration-100 ease-in-out focus:outline-none focus:border-none
    }
    .btn-primary{
      @apply px-5 py-2 gradient-bg text-lg text-white rounded-xl font-semibold active:scale-95 transition-sm
    }
    .transition-sm{
      @apply transition-all duration-100 ease-in-out
    }
    .transition-md{
      @apply transition-all duration-150 ease-in-out
    }



    /* *===== Loader ===== */
#loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 14rem;
  width: 14rem;
  margin: -7rem 0 0 -7rem;
  border: 3px solid transparent;
  border-top-color: #008744;
  border-radius: 50%;
  /* box-shadow: 0 0 20px rgba(0, 135, 68, 0.1); */
  -webkit-animation: spinLoader 2s linear infinite;
          animation: spinLoader 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 4.5rem;
  right: 4.5rem;
  bottom: 4.5rem;
  left: 4.5rem;
  border: 3px solid transparent;
  border-radius: 50%;
  /* box-shadow: 0 0 20px rgb(214 45 32 / 10%) ; */
  border-top-color: #d62d20;
  -webkit-animation: spinLoader 3s linear infinite;
          animation: spinLoader 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
  border: 3px solid transparent;
  border-radius: 50%;
  /* box-shadow: 0 0 20px rgb(255 167 0 / 10%); */
  border-top-color: #ffa700;
  -webkit-animation: spinLoader 1.5s linear infinite;
          animation: spinLoader 1.5s linear infinite;
}

@-webkit-keyframes spinLoader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spinLoader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
/** END of Loader*/


 input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.MuiAvatar-root {
  width: 34px;
  height: 34px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.carousel{
  overflow: hidden;
}
.inner{
  white-space: nowrap;
  transition: transform 0.3s;
}
.carousel-item{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
  color: #fff;
}
.indicators{
  display: flex;
  justify-content: center;
}
.indicators > button {
  margin: 50px;
}


@media(max-width: 640px){
  .custom-shape-divider-bottom-1630315778 svg {
    height: 30px;
}
.carousel-item{
  height: 36rem;
}

}
@media(max-width: 769px){
.custom-shape-divider-top-1630316193 svg {
  height: 20px;
}
}

@media(min-width: 1700px){
  .question__group{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
  .nav__bar{
    max-width: 1900px;
    padding: 1rem 5rem !important;
  }
  .carousel-item{
    height: 44rem;
  }
}

}

